@import url("http://fonts.cdnfonts.com/css/common-pixel");
@import url("http://fonts.cdnfonts.com/css/pc-senior");
@import url("http://fonts.cdnfonts.com/css/pokemon-solid");

body {
  background-color: #d53c47;
  margin: 0;
  font-family: rubik;
  color: white;
}

/*HEADER*/

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
  font-family: "PC Senior", sans-serif;
  -webkit-text-stroke: 0.3px #3663ac;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: white;
}
.divFinder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding-left: 40px;
  font-size: 1em;
  text-align: center;
  font-family: "PC Senior", sans-serif;
}
.search_input {
  background-color: transparent;
  border: 1.5px solid #2b292c;
  width: 220px;
  height: 22px;
  border-radius: 12px;
}
.search_input:focus {
  outline: none;
  color: #fff;
}
.search_input::placeholder {
  color: lightslategray;
  font-size: 15px;
}
input[type="text"] {
  font-size: 18px;
  text-align: center;
}

.icons_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-left: 40px;
  font-size: 16px;
}

.icon-list {
  list-style: none;
  padding: 0;
  width: 330px;
  max-width: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.icon-imagen {
  height: 20px;
  padding-right: 20px;
  width: 20px;
}

.icon-imagen img {
  width: 30px;
  border: 1px solid #2b292c;
  border-radius: 18px;
}
.icon-imagen img:hover{
  background-color: lavender;
  transform: translateY(2px);
}

.divLink {
  height: 60px;
  display: flex;
  align-items: center;
}

.link_to_do {
  color: white;
  text-decoration: none;
  border: 1.5px solid #2b292c;
  padding: 8px;
  border-radius: 12px;
  font-family: "PC Senior", sans-serif;
  font-size: 12px;
  word-wrap: break-word;
  width: 60%;
  text-align: center;
  line-height: 1.4em;
}
.link_to_do:hover{
  background-color: whitesmoke;
  color: black;
}

/*POKEDEX*/

.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  border-radius: 20px;
  width: 200px;
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}
.card-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}
.card-image {
  height: 220px;
  width: 100%;
}
.grass {
  background-color: #34c149;
}

.fire {
  background-color: #ff983e;
}
.water {
  background-color: #3293dd;
}
.bug {
  background-color: #82c500;
}
.normal {
  background-color: #929ba4;
}
.poison {
  background-color: #b767cf;
}
.electric {
  background-color: #f7cd00;
}
.ground {
  background-color: #e97233;
}
.fairy {
  background-color: #fb8aec;
}
.fighting {
  background-color: #e12c6a;
}
.psychic {
  background-color: #ff6677;
}
.rock {
  background-color: #c9b787;
}
.ghost {
  background-color: #4a6ab3;
}
.ice {
  background-color: #49d2c0;
}
.dragon {
  background-color: #0070cb;
}
#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
  justify-items: center;
  background-color: #2b292c;
  padding: 40px;
}
.card:hover {
  animation: bounce 0.8s linear;
}
@keyframes bounce {
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-4px);
  }
  80% {
    transform: translateY(-0px);
  }
}
