@import url("http://fonts.cdnfonts.com/css/common-pixel");
@import "./_header.css";
@import "./_pokedex.css";
@font-face {
  font-family: "PC-Senior";
  src: url(./assets/fonts/pcsenior.ttf) format("truetype");
}

body {
  background-color: #d53c47;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: rubik;
  color: white;
}
