@import url("http://fonts.cdnfonts.com/css/pc-senior");

body {
  background-color: #d53c47;
  margin: 0;
  font-family: rubik;
  color: white;
  height: 100vh;
  padding: 3vw;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.goback {

  text-decoration: none;
  font-family: "PC Senior", sans-serif;
  -webkit-text-stroke: 0.3px #3663ac;
  color: white;
  border: 1.5px solid #2b292c;
  border-radius: 12px;
  padding: 10px;
  
}
.goback:hover {
  background-color: #2b292c;
  color: whitesmoke;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-family: "PC Senior", sans-serif;
  -webkit-text-stroke: 0.3px #3663ac;
  margin: 0 auto;
  padding-bottom: 20px;
}
#box {
  height: 80vh;
  background-color: #2b292c;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 40px auto;
  border-radius: 12px;
}

.score {
  background: #3663ac;
  padding: 12px;
  line-height: 1;
  border-radius: 16px;
  color: #fff;
  margin-left: 15px;
  border: 2px solid black;
  font-family: "PC Senior", sans-serif;
  font-size: 14px;
}
.gifdiv {
  top: 50px;
  left: 40px;
  position: absolute;
  height: 170px;
}
.gifdiv img {
  width: 100%;
  height: 100%;
}
.ashdiv {
  top: 20px;
  right: 20px;
  position: absolute;
  height: 200px;
}
.ashdiv img {
  width: 100%;
  height: 100%;
}
.game--container {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
  padding-top: 20px;
  margin-left: 80px;
  padding-bottom: 20px;

}

.hole {
  width: 150px;
  height: 120px;
  object-fit: contain;
  cursor: pointer;
}
.dugtrio {
  object-fit: contain;
  height: 120px;
  width: 150px;
  cursor: pointer;
}
.timer {
  font-family: "PC Senior", sans-serif;
  -webkit-text-stroke: 0.3px #3663ac;
  font-size: 22px;
}

button {
  width: 175px;
  font-size: 35px;
  height: 70px;
  color: #fff;
  background-color: #3663ac;
  border-radius: 10px;
  margin-top: 20px;
  border: 2px solid black;
  font-family: "PC Senior", sans-serif;
  -webkit-text-stroke: 0.3px #3663ac;
  font-size: 22px;
  cursor: pointer;
}
button:hover {
  background-color: #f7cd00;
  color: #2b292c;
}

.result {
  padding-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result h3 {
  font-family: "PC Senior", sans-serif;
  -webkit-text-stroke: 0.3px #3663ac;
  font-size: 22px;
}

@media only screen and (max-width: 600px) {
  .gifdiv,
  .ashdiv {
    width: 60px;
    height: 120px;
    top: 40px;
  }
  .result {
    padding-right: 60px;
  }
  .result h3 {
    font-size: 16px;
  }
}
