@import url("http://fonts.cdnfonts.com/css/pc-senior");

body {
  background-color: #d53c47;
  margin: 0;
  font-family: rubik;
  color: white;
  height: 100vh;
  padding: 40px;
}
.goback {
  text-decoration: none;
  font-family: "PC Senior", sans-serif;
  -webkit-text-stroke: 0.3px #3663ac;
  color: white;
  border: 1.5px solid #2b292c;
  border-radius: 12px;
  padding: 10px;
}
.goback:hover {
  background-color: #2b292c;
  color: whitesmoke;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
  line-height: 1.2em;
  font-family: "PC Senior", sans-serif;
  -webkit-text-stroke: 0.3px #3663ac;
  width: 80vw;
  margin: 20px auto;
  max-width: 1200px;
}
#box {
  height: 80vh;
  background-color: #2b292c;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
}

.score {
  background: #3663ac;
  padding: 12px;
  line-height: 1;
  border-radius: 16px;
  color: #fff;
  margin-left: 15px;
  border: 2px solid black;
  font-family: "PC Senior", sans-serif;
  font-size: 14px;
}
.gifdiv {
  top: 50px;
  left: 40px;
  position: absolute;
  height: 170px;
}
.gifdiv img {
  width: 100%;
  height: 100%;
}
.ashdiv {
  top: 20px;
  right: 20px;
  position: absolute;
  height: 200px;
}
.ashdiv img {
  width: 100%;
  height: 100%;
}
.game--container {
  background-color: gold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  padding-top: 80px;
  padding-left: 80px;


}

.hole {
  overflow: hidden;
  position: relative;
  padding: 10px;
  padding-bottom: 80px;
}

/* .hole:after {
  display: block;
  background: url(dirt.png) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 90px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
} */

.mole {
  background: url("mole.png") bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.hole {
  width: 150px;
}

.hole.up .mole {
  top: 0;
}

button {
  width: 175px;
  font-size: 35px;
  height: 70px;
  color: #fff;
  background-color: #3663ac;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 90px;
  border: 2px solid black;
  font-family: "PC Senior", sans-serif;
  -webkit-text-stroke: 0.3px #3663ac;
  font-size: 22px;
  cursor: pointer;
}
button:hover {
  background-color: #f7cd00;
  color: #2b292c;
}
/* 
@media (min-width: 667px) and (max-width: 1024px) {
  h1 {
    display: none;
  }
  .score {
    /* background: blue;
    padding: 0 12px;
    line-height: 1;
    border-radius: 16px;
    color: #fff;
    margin-left: 20px; 
  }

  .hole.up .mole {
    top: 17px;
  }
}

@media (max-width: 667px) {
  .game {
    width: 667px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .score {
    width: 35px;
    font-size: 15px;
    height: 40px;
    color: #fff;
    background-color: blue;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
  }

  button {
    margin: 10px 10px 10px 10px;
    height: 40px;
    width: 75px;
    font-size: 15px;
  }

  .hole:after {
    display: block;
    background: url(dirt.png) bottom center no-repeat;
    background-size: contain;
    content: "";
    max-width: 70%;
    height: 60px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
  }

  .mole {
    background: url("mole.png") bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    max-width: 70%;
    height: 70%;
    transition: all 0.4s;
  }

  .hole.up .mole {
    top: 50px;
  }
} 
*/
